[user]
	name = Tommy Chow
	email = tommyxchow@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[rerere]
	enabled = true
	autoupdate = true
[merge]
	conflictstyle = zdiff3
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[commit]
	verbose = true
[help]
	autocorrect = immediate
[grep]
	patternType = perl
