[user]
	name = Tommy Chow
	email = tommyxchow@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rebase]
	autoStash = true
[diff]
	algorithm = histogram
[rerere]
	enabled = true
[merge]
	conflictstyle = zdiff3
