[user]
	name = Tommy Chow
	email = tommyxchow@gmail.com
[core]
	fsmonitor = true
	untrackedCache = true
[index]
	skipHash = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
	writeCommitGraph = true
[transfer]
	fsckobjects = true
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true
[diff]
	algorithm = histogram
	colorMoved = zebra
[log]
	date = iso-local
[status]
	showUntrackedFiles = all
[rerere]
	enabled = true
	autoupdate = true
[merge]
	conflictstyle = zdiff3
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[commit]
	verbose = true
[help]
	autocorrect = prompt
[advice]
	statusHints = false
	detachedHead = false
[grep]
	patternType = perl
